@font-face {
    font-family: 'regencielight';
    src: url('fonts/regencielight-webfont.eot');
    src: url('fonts/regencielight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/regencielight-webfont.woff') format('woff'),
         url('fonts/regencielight-webfont.ttf') format('truetype'),
         url('fonts/regencielight-webfont.svg#regencielight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background: white;
	background-repeat:no-repeat;
	background-size: 100% 200%;
	font-family: "regencielight";
	font-size: 16px;
	margin: 0;
	
}
figure{
	margin: 0;
}
figure img{
	margin: 0;
}
footer{
	color: gray;
	font-size: 0.8em;
	margin: 0%;
	text-align: center;
}
header{
	margin: 0 2%;
	padding: 0;
	width: 96%;
}
header figure img{
	height: 130px;
	
	}
header h1{
	background: #2E3092;
	margin: 0 2px 0 2px;
	padding: 0.5em;
	text-align: center;
}
section{
	background: white;
	border: 1px solid red;
	color: white;
	margin: 2% auto auto auto;
	max-width: 500px;
}
section #dashboard{
	margin: 0.1em 0 auto 0;
	text-align: center;
}
section #dashboard table{

	margin: 0 2%;
	min-height: 290px;
	width: 96%;
}
section #dashboard table tr td{
	background: #0095D9;
	width: 33.3%;
}
section #dashboard table tr #Item_pedidos{
	background: white;
	color: gray;
}
section #dashboard table tr #Item_pedidos p{
	color: gray;
}
section #dashboard table tr td a{
	text-decoration: none;
}
section #dashboard table tr td a p{
	color: white;
	margin: 5%;
}
section #dashboard table tr td figure img{
	margin: 7% 0 0 0;
	padding: 0;
	width: 40%;
}
@media screen and (min-width: 480px) {
	body{
		font-size: 1.2em;
	}
    section {
    	margin: 10% auto;
	}
    section #dashboard table{
    	height: 600px;
	}
	header figure img{
	height: 150px;
	}
}
@media screen and (min-width: 700px) {
	body{
		font-size: 1.5em;
	}
    section {
    	margin: 25% auto;
	}
	header figure img{
	height: 180px;
	max-width: 480px;
	}
}