.ui-listview-filter{
	border-width: 0;
	overflow: hidden;
 	margin: 0; 
}
.ui-listview-filter .ui-input-search {
	margin: 0.3em;
	width: auto;
	display: block;
}
.ui-input-search {
	padding: 0 0.5em;
}
.ui-shadow-inset {
-moz-box-shadow: inset 0;
-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2); 
box-shadow: inset 0 0px 0px rgba(0,0,0,0); 
}
.ui-btn-corner-all {
border-radius: 0;
}

.ui-body-c, .ui-overlay-c {
	border: 0;
	background: white;
}
.ui-icon-searchfield:after {
	display: none;
}
.ui-icon, .ui-icon-searchfield:after {
	display: none;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	min-height: 59px;
	padding-left: 5em;
}
a.ui-link-inherit{
	padding: 0;
}